---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
	title="curriculum"
	content="Software developer curriculum Author: Miguel Atencio Vargas"
>
<h1>Curriculum</h1>
</BaseLayout>