---
import { Icon } from "astro-icon";
import { ICON_ENUM } from "../enums/icon.enum";
import ItemHeaderDesktop from "./ItemHeaderDesktop.astro";
---

<header class="header">
  <div>
    <a class="header-logo" href="/">
      <h2>atencio</h2>
      <Icon name="cli-header" />
      <span>miguel.io</span>
    </a>
  </div>
  <nav>
    <ul class="header-navigation">
      <ItemHeaderDesktop
        name={ICON_ENUM.CURRICULUM}
        label="Curriculum"
        href="/curriculum"
      />
      <ItemHeaderDesktop
        name={ICON_ENUM.PROJECTS}
        label="Projects"
        href="/projects"
      />
      <ItemHeaderDesktop
        name={ICON_ENUM.CONTACT}
        label="Contact"
        href="contact"
      />
    </ul>
  </nav>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    font-size: 1.2rem;
    align-items: center;
  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-navigation {
    display: flex;
  }

  [astro-icon="cli-header"] {
    width: 56px;
    height: 25px;
    margin: 0 5px;
  }

</style>
