---
import ItemHeaderDesktop from "./ItemHeaderDesktop.astro";
import Icon from "./Icon.astro";
import { ICON_ENUM } from "../enums/icon.enum";
---

<header class="header">
  <div >
    <a class="header-logo" href="#">
      <span>atencio</span>
      <span class="header-icon"> <Icon name={ICON_ENUM.HEADER} /></span>
      <span>miguel.io</span>
    </a>
  </div>
  <nav>
    <ul class="header-navigation">
      <ItemHeaderDesktop type={ICON_ENUM.CURRICULUM} label="Curriculum" />
      <ItemHeaderDesktop type={ICON_ENUM.PROJECTS} label="Projects" />
      <ItemHeaderDesktop type={ICON_ENUM.CONTACT} label="Contact" />
    </ul>
  </nav>
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
    font-size: 1.2rem;
    align-items: center;
  }

  .header-logo {
    display: flex;
  }

  .header-navigation {
    display: flex;
  }

  .header-icon {
    margin: auto 15px;
  }
</style>
