---
import { ICON_ENUM } from "../enums/icon.enum";
const { name } = Astro.props;
---

<div>
  {
    name === ICON_ENUM.HOME && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
        <path d="M10 12h4v4h-4z" />
      </svg>
    )
  }
  {
    name === ICON_ENUM.CURRICULUM && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
        <path d="M12 17v-6" />
        <path d="M9.5 14.5l2.5 2.5l2.5 -2.5" />
      </svg>
    )
  }
  {
    name === ICON_ENUM.PROJECTS && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M10 14l-2 -2l2 -2" />
        <path d="M14 10l2 2l-2 2" />
        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
      </svg>
    )
  }
  {
    name === ICON_ENUM.CONTACT && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M20 6v12a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z" />
        <path d="M10 16h6" />
        <path d="M13 11m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
        <path d="M4 8h3" />
        <path d="M4 12h3" />
        <path d="M4 16h3" />
      </svg>
    )
  }
  {
    name === ICON_ENUM.HEADER && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="56"
        height="25"
        viewBox="0 0 56 25"
        fill="none"
      >
        <path
          class="fill-cyan"
          d="M11.2215 12.5L0 25H43.8658L55.0872 12.5L43.8658 0H0L11.2215 12.5Z"
        />
        <path
          d="M23 13.5C23 12.5 23.4 11 25 11C26.6721 11 28 14 30 14C31.7754 14 32 13 32 11.5"
          stroke="black"
          stroke-width="1.6"
        />
      </svg>
    )
  }
</div>

<style>
  .fill-cyan {
    fill: var(--cyan);
  }
</style>
