---
import Icon from "./Icon.astro";
const { type, label, href = "#" } = Astro.props;
---

<li class="item-header">
  <a href={href} class="item-link">
    <Icon name={type} />
    <div>{label}</div>
  </a>
</li>

<style>
  .item-header {
    list-style: none;
    padding: 0 15px;
  }
  .item-link {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 10px;
  }
  .item-link:hover {
    background-color: rgba(255, 255, 255, 0.063);
  }
</style>
