---
import RequestEditor from "../components/RequestEditor.astro";
import ResponseData from "../components/ResponseData.astro";
---

<div class="postman">
  <RequestEditor />

  <div class="response">
    <div class="response-header">
      <div class="response-status">
        <span class="response-icon">⦿</span>
        <span>200 OK</span>
      </div>
      <div>
        <span>Content-Type: application/json</span>
      </div>
    </div>
    <ResponseData />
  </div>
</div>

<style>
  .postman {
    margin: 5%;
    padding: 0 8%;
  }

  .response-header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }

  .response-icon {
    color: var(--cyan);
    margin-right: .5rem;
  }
</style>
