---
import { Code } from "astro:components";

const data = `{
    "name": "Miguel",
    "last-name": "Atencio Vargas",
    "hobbies": [
        "cooking",
        "basketball",
        "photography",
        "music-production"
    ],
    "experience": [
        {
            "name": "Applaudo Studios - Luuk",
            "image-src": "https: //image.luuk.png",
            "role": "Backend Developer",
            "start-date": "2022-01-01T06:00:00",
            "end-date": "2023-09-15T06:00:00",
            "technologies": [
                "Node JS",
                "Hapi JS",
                "MongoDB",
                "Elastic Search",
                "Redis",
                "RabbitMQ",
            ]
        }
    ]
}`;
---

<div class="response-data">
  <Code code={data} lang="json" theme="css-variables" />
</div>

<style>
  .response-data {
    /** Astro theme - css variables */
    --astro-code-color-text: var(--white-smooth);
    --astro-code-color-background: var(--dark-blue);
    --astro-code-token-constant: plum;
    --astro-code-token-string: orchid;
    --astro-code-token-comment: salmon;
    --astro-code-token-keyword: var(--cyan);
    --astro-code-token-parameter: seashell;
    --astro-code-token-function: dodgerblue;
    --astro-code-token-string-expression: var(--white-smooth);
    --astro-code-token-punctuation: linen;
    --astro-code-token-link: honeydew;

    overflow: auto;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5rem;

    .astro-code {
      margin: 0.2rem;
    }

    :is(code) {
      counter-reset: step;
      counter-increment: step 0;
    }

    :is(code) .line::before {
      content: counter(step);
      counter-increment: step;
      width: 1rem;
      margin: 0 1.5rem 0 1rem;
      display: inline-block;
      text-align: right;
      color: rgba(255, 255, 255, 0.227);
    }
  }
</style>
