---
import { ViewTransitions } from 'astro:transitions';
import "../styles/reset.css";
import HeaderDesktop from "../components/Desktop/Header.astro";
import HeaderMobile from "../components/Mobile/Header.astro";
const { title, content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={content} />
    <!-- Start - Favicon head -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- End - Favicon head -->

    <title>{title} | miguel.io</title>
    <ViewTransitions />
  </head>

  <HeaderDesktop />
  <HeaderMobile />

  <body>
    <article>
      <slot />
    </article>
  </body>

  <style is:global>
    @font-face {
      font-family: "SF Mono";
      src: url("./fonts/SFMonoRegular.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    :root {
      --cyan: hsla(169, 100%, 74%, 1);
      --dark-blue: hsla(209, 81%, 8%, 1);
      --white-smooth: hsla(38, 100%, 95%, 1);
      --main-font-family: "SF Mono";
    }

    body {
      color: var(--white-smooth);
      background-color: var(--dark-blue);
      font-family: var(--main-font-family);
    }
  </style>
</html>
