---
import HeaderDesktop from "../components/HeaderDesktop.astro";
import {
  DARK_BLUE,
  WHITE_SMOOTH,
  MAIN_FONT_FAMILY,
  CYAN,
} from "../themes/index";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <HeaderDesktop />

  <body>
    <article>
      <slot />
    </article>
  </body>

  <style
    define:vars={{
      CYAN,
      DARK_BLUE,
      WHITE_SMOOTH,
      MAIN_FONT_FAMILY,
    }}
    is:global
  >
    /* ====== NORMALIZE CSS ====== */

    /* Box sizing rules */

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    /* Set core body defaults */

    body {
      min-height: 100vh;
      scroll-behavior: smooth;
      text-rendering: optimizeSpeed;
      line-height: 1.5;

      /* Remove default padding */

      ul[class],
      ol[class] {
        padding: 0;
      }

      /* Remove default margin */

      body,
      h1,
      h2,
      h3,
      h4,
      p,
      ul[class],
      ol[class],
      li,
      figure,
      figcaption,
      blockquote,
      dl,
      dd {
        margin: 0;
      }
      /* Remove list styles on ul, ol elements with a class attribute */

      ul[class],
      ol[class] {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: var(--WHITE_SMOOTH);
      }

      /* Make images easier to work with */

      img {
        max-width: 100%;
        display: block;
      }

      /* Natural flow and rhythm in articles by default */

      article > * + * {
        margin-top: 1em;
      }

      /* Inherit fonts for inputs and buttons */

      input,
      button,
      textarea,
      select {
        font: inherit;
      }

      /* Remove all animations and transitions for people that prefer not to see them */

      @media (prefers-reduced-motion: reduce) {
        * {
          animation-duration: 0.01ms !important;
          animation-iteration-count: 1 !important;
          transition-duration: 0.01ms !important;
          scroll-behavior: auto !important;
        }
      }
    }

    /* ====== GLOBAL APP STYLES ====== */

    body {
      color: var(--WHITE_SMOOTH);
      background-color: var(--DARK_BLUE);
      font-family: var(--MAIN_FONT_FAMILY);
    }
  </style>


</html>
