---
import HeaderDesktop from "../components/HeaderDesktop.astro";
import "../styles/reset.css";
import {
  DARK_BLUE,
  WHITE_SMOOTH,
  MAIN_FONT_FAMILY,
  CYAN,
} from "../themes/index";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <HeaderDesktop />

  <body>
    <article>
      <slot />
    </article>
  </body>

  <style
    is:global
    define:vars={{ CYAN, DARK_BLUE, WHITE_SMOOTH, MAIN_FONT_FAMILY }}
  >
    body {
      color: var(--WHITE_SMOOTH);
      background-color: var(--DARK_BLUE);
      font-family: var(--MAIN_FONT_FAMILY);
    }
  </style>
</html>
