---
import HeaderDesktop from "../components/HeaderDesktop.astro";
import "../styles/reset.css";
import {
  DARK_BLUE,
  WHITE_SMOOTH,
  MAIN_FONT_FAMILY,
  CYAN,
} from "../themes/index";

const { title, content } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={content}>
    <!-- Start - Favicon head -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="./favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="./favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <!-- End - Favicon head -->

    <title>miguel.io | {title}</title>
  </head>

  <HeaderDesktop />

  <body>
    <article>
      <slot />
    </article>
  </body>

  <style
    is:global
    define:vars={{ CYAN, DARK_BLUE, WHITE_SMOOTH, MAIN_FONT_FAMILY }}
  >
    /* Register your custom font family and tell the browser where to find it. */
    @font-face {
      font-family: "SF Mono";
      src: url("./fonts/SFMonoRegular.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    body {
      color: var(--WHITE_SMOOTH);
      background-color: var(--DARK_BLUE);
      font-family: var(--MAIN_FONT_FAMILY);
    }
  </style>

</html>
